include template.pug 
body.text-lg    
    .bg-primary.flex.flex-wrap.justify-between.h-auto
            .div.flex.p-5.pl-20.ml-20(class="w-1/6")
                img.max-h-32.image(src='images/logo.png')

            .div.flex.justify-items-center.self-center
                .bg-white.flex.rounded-full.searchbar(class="p-0.5")
                    input.rounded-l-full.p-2.input.input-search(type="text" name="search")
                    input.border.rounded-full.p-1.pl-5.pr-5.input-btn-search.text-white( type="button" value="Buscar")
            
            .container-sm.flex.btns-container(class="w-1/6")
                input.self-center.rounded-full.input-btn-login.place-end(class="left-1/2" type="button" value="Login" onclick="window.location = '/login';")
                input.self-center.rounded-full.pl-5.pr-5.input-btn-registro(type="button" value="Registro" onclick="window.location = '/registro';")