
body{
    background-color: #F5F5F5; 
    font-family: 'Nunito Sans';
    width: 100vw;
}

.bg-primary{
    background: #900C3E;
}
.bg-fade{
    background: rgb(95,0,0);
    background: linear-gradient(180deg, rgba(95,0,0,1) 0%, rgba(199,0,59,1) 100%);
}
.bg-secondary{
    background-color: #F5F5F5;
}
.btns-container{
    margin-right: 4vw;
    gap: 10px;
}
.input{
    outline: none;
}

 /* !------------------------------HEADER------------------------------------------------- */
.logo{
    max-height: 5rem;
}
.searchbar{
    min-height:45px;
    font-size: 22px;
    font-weight: 400;
}
.input-search{
    border: none;
    border-radius: 100px;
}

.input-btn-search{
    cursor: pointer;
    background: #900C3E;
    transition: 0.2s;
    padding-inline: 20px;
}
.input-btn-search:hover{
    background-color: #75002d;
    color: #c9c9c9;
    transition: 0.2s;
}

/* BTN-LOGIN */
.input-btn-login{
    cursor: pointer;
    color: #F5F5F5;
    background: #900C3E;
    padding: 0.4rem;
    padding-inline: 3rem;
    border: solid 3px #F5F5F5;
    font-size: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.2s;
}
.input-btn-login:hover{
    background-color: #75002d;
    color: #c9c9c9;
    transition: 0.2s;
    border: solid 3px #c9c9c9;
}


/* BTN-REGISTRO */
.input-btn-registro{
    cursor: pointer;
    color: #900C3E;
    padding: 0.4rem;
    padding-inline: 3rem;
    margin-right: 3rem;
    border: solid 3px #F5F5F5;
    font-size: 22px;
    font-weight: 500;
    background-color: #F5F5F5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.2s;
}
.input-btn-registro:hover{
    background-color: #c9c9c9;
    border: solid 3px #c9c9c9;
    transition: 0.2s;

}
.container-registro{
    width: 35%;
    max-height: 80%;
}
.dropdown{
    color:white;
    font-size: 23px;
}
.dropdown:hover{
    background-color: #900C3E;
    color:white
}


/* !------------------------------ LOGIN/REGISTRO --------------------------------------------------------------*/
/* Title form Login/Registro */
.title{
    font-size: 45px;
    font-weight: 700;
    max-height: 110px;
}
.form-registro{
    height: 70%;
    margin-top: 23%;
}
.input-btn{
    cursor: pointer;
    border-radius: 10px;
    font-size: 30px;
    margin-top: 7%;
    width: 33%;
    font-weight: 300;
    transition: 0.2s;
}
.input-btn-voltar{
    color:#900C3E;
    background-color: #F5F5F5;
    border: 3px solid #900C3E;
}
.input-btn-voltar:hover{
    background-color: #c9c9c9;
    border: solid 3px #900C3E;
    transition: 0.2s;
}
.input-btn-submit{
    cursor: pointer;
    color:#F5F5F5;
    background-color: #900C3E;
    border: 3px solid #900C3E;
}
.input-btn-submit:hover{
    color:#900C3E;
    background-color: #F5F5F5;
    border: 3px solid #900C3E;
    transition: 0.2s;
}
.input-registro{
    border-radius: 10px;
    width: 70%;
    padding: 3px;
    font-size: 30px;
    font-weight: 200;
    color:#900C3E;
    background-color: #FFFFFF;
    border: 2px solid #900C3E;
}
.error{
    width: 70%;
    color: red;
    font-size: 27px;
    margin-bottom: -5px;
}
.error-img{
    max-height: 30px;
}
