include includes/layout/template.pug
body 
    include includes/layout/header.pug
    script( defer src="scripts/test.js") 

    .w-full.bg-secondary.flex.justify-center.mt-5 
        .container-add.container.self-center.p-5.m-5.bg-white.container-addRecipe
            p.title Nova Receita
                .form.col-span-4.p-5
                    form.form-preferences.pt-5.self-center(action="/recipe/add", method="post" enctype="multipart/form-data")
                        .container.flex-row.flex.gap-32
                            .container.flex-col.flex
                                .input-container
                                    label(for="recipe_name") 
                                        | Nome:
                                    input.input-addRecipe(class="w-full" type="text", name="recipeName")
                                .input-container
                                    label(for="type") 
                                        | Categoria 
                                    select.input-addRecipe(class="w-full" type="text", name="type")
                                        each value in categorias
                                            option(value=value.id_categoria) 
                                                = value.nome_categoria
                                            

                                .input-container.flex.justify-between
                                    .e
                                        label(for="portions") 
                                            | Porções: 
                                            br
                                        input.input-addRecipe(type="number", name="portions")
                                    .e
                                        label(for="time")
                                            | Tempo: 
                                            br
                                        input.input-addRecipe( type="text", name="time")

                                .input-container
                                    label(for="recipeDifficulty")
                                        | Dificuldade
                                    select.input-addRecipe(class="w-full" type="text", name="recipeDifficulty")
                                        option(value="1") Muito Fácil
                                        option(value="2") Fácil
                                        option(value="3") Médio
                                        option(value="4") Dificil
                                        option(value="5") Muito dificil
                                        

                                .input-container
                                    label(for="ingredients")
                                        | Ingredientes
                                    textarea.input-addRecipe.flex.flex-wrap(class="w-full" type="text" name="ingredients" id="ingredients" onkeyup="test()" onclick="test2()")
                            .container.flex-col.content-around
                                .input-container
                                    label(for="imgs")
                                        | Fotos da receita
                                    .justify-start.block.mb-5.w-full
                                        label.input-form.input-addfile.mt-5.block.text-sm.cursor-pointer.flex.justify-center(for="img") 
                                            p.p-3 Escolha uma foto
                                        input.w-full(type="file" id="img" name="img" style="display:none" onchange="")
                                        -if (erro == 'file_not_valid')
                                            p.mt-2.text-base.text-red-600 Arquivo não é válido 

                                .input-container
                                    label(for="desc")
                                        | Descrição
                                        br 
                                    textarea.input-addRecipe(class="w-full" name="desc", cols="10", rows="5") 
                                .input-container
                                    label(for="steps")
                                        | Modo de preparo 
                                        br
                                    textarea.input-addRecipe(class="w-full" name="steps", cols="10", rows="5") 
                                .input-container
                                    label(for="submit_btn") 
                                    input.input-addRecipe(type="submit", name="submit_btn" onclick="test2()") 
                                    
