include includes/layout/template.pug
body 
    include includes/layout/header.pug
    .flex.justify-center
        .container.index-container.p-5.mt-5.grid.m-5.gap-5(class="grid-cols-4")
            each recipe in recipes
                = recipes
                .w-80.card-body.mt-5
                    img.rounded-t-lg(src=`img/${recipe["nome_fotos_receita"]}` alt='Sunset in the mountains')
                    .p-5
                    a(href='#')
                        h5.mb-2.text-2xl.tracking-tight.text-gray-900.card-title 
                            = recipe["nome_receita"]
                    p.mb-3.card-desc
                        = recipe.descricao_receita
                    .container.p-5.inline-flex.justify-between.card-btns
                        p Salvar 
                        p Postado por 
                            a.card-link 
                                = recipe.nome_autor_usuario 