include includes/layout/template.pug
body 
    .w-full.flex.h-full
        .flex.bg-fade.h-full.justify-center.m-0(class="w-3/4")
            img.flex.h-96.image.self-center(src='img/logo.png')
        .bg-secondary.h-full.flexbox(class="container-registro")
            h1.title.text-center.w-full.mt-5 LOGIN 
            form.form-registro.pt-5.self-center(action="/user/logar", method="post")
                .container-form-registro
                    .justify-center.flex
                        -if(erro == "wrong_user_password")
                            p.error Usuário/Senha incorretos
                        -if(erro == "missing_fields")
                            p.error Preencha todos os campos
                    .justify-center.flex
                            
                            input.input-form.m-5(type="text", name="name" placeholder=" Nome")
                    .justify-center.flex              
                            input.input-form.m-5(type="password", name="password" placeholder=" Senha")
                    .justify-center.flex.gap-7
                        .input-btn-voltar.input-btn.text-center.place-content-center.flex.items-center
                            a.w-full(href="/")  Voltar
                        .input-btn-submit.input-btn.text-center.place-content-center.flex.items-center
                            input.w-full(style="cursor: pointer" type="submit" value="Logar")

