include includes/layout/template.pug
body 
    include includes/layout/header.pug
    script( defer src="scripts/fileInputStyle.js") 
    .w-full.bg-secondary.flex.justify-center 
        .container-preferences.container.self-center.p-5.m-5.bg-white
            p.title Configurações
            .grid.w-full(class="grid-cols-5 ")  
                .menu.p-2 
                    p.title-menu.mt-5
                        a.m-5.cursor-pointer(href="/preferences") Editar dados
                    p.title-menu.mt-5
                        a.m-5.cursor-pointer(href="/change_password") Alterar senha
                .form.col-span-4.p-5
                    -if(!editPassword)
                        -console.log(editPassword)
                        form.form-preferences.pt-5.self-center(action="/user/edit", method="post" enctype="multipart/form-data")
                            .container-form-registro.grid(class="grid-cols-2 ")  
                                .justify-start.flex
                                    label.self-center(for="name") Nome: 
                                .justify-start.block.mb-5
                                    input.input-form.input-preferences.mt-5(type="text", name="name" value=userName)
                                    -if (erro == 'user_taken')
                                        p.mt-2.text-base.text-red-600 Usuário já existe 

                                .justify-start.flex
                                    label.self-center(for="email") Email:
                                .justify-start.block.mb-5
                                    input.input-form.input-preferences.mt-5(type="email", name="email" value=userEmail)
                                    -if (erro == 'email_exists')
                                        p.mt-2.text-base.text-red-600 Email já cadastrado

                                .justify-start.flex
                                    label.self-center(for="email") Foto de Perfil:
                                .justify-start.block.mb-5
                                    label.input-form.input-preferences.mt-5.block.text-sm.cursor-pointer.flex.justify-center(for="img" id="input_img") 
                                        p.p-3 Escolha uma foto
                                    input.w-full(type="file" id="img" name="img" style="display:none" onchange="changeStyle()")
                                    -if (erro == 'file_not_valid')
                                        p.mt-2.text-base.text-red-600 Arquivo não é válido
                                        
                                .justify-center.flex.col-span-2
                                    .input-btn-submit.input-btn.text-center.place-content-center.flex.items-center
                                        input.w-full(style="cursor: pointer" type="submit" value="Salvar meus dados")

                    -else   
                        form.form-preferences.pt-5.self-center(action="/user/edit_password", method="post")
                            .container-form-registro.grid(class="grid-cols-2 ")  
                                .justify-start.flex            
                                    label.self-center(for="password") Senha atual:
                                .justify-start.block.mb-5
                                    input.input-form.input-preferences.mt-5(type="password", name="password")
                                    -if (erro == 'wrong_password')
                                        p.mt-2.text-base.text-red-600 Senhas precisam ser iguais        

                                .justify-start.flex            
                                    label.self-center(for="new_password") Nova Senha:
                                .justify-start.block.mb-5
                                    input.input-form.input-preferences.mt-5(type="password", name="new_password")
                                    -if (erro == 'passwords_not_matching')
                                        p.mt-2.text-base.text-red-600 Senhas precisam ser iguais                                  

                                .justify-start.flex               
                                    label.self-center(for="confirm_password") Confirmar Nova Senha:
                                .justify-start.block.mb-5
                                    input.input-form.input-preferences.mt-5(type="password", name="confirm_password")

                                .justify-center.flex.col-span-2
                                    .input-btn-submit.input-btn.text-center.place-content-center.flex.items-center
                                        input.w-full(style="cursor: pointer" type="submit" value="Mudar minha senha")
