include includes/layout/template.pug
body 
    include includes/layout/header.pug
    .flex.justify-center.bg-fade-profile
        .container.profile-header.h-48.flex.justify-between
            p.border.text-white.flex.text-center Foto de usuario
            p Nome de usuario