include includes/layout/template.pug
body 
    include includes/layout/header.pug
    script( defer src="scripts/indexLike.js") 
    .flex.justify-center.mt-5  
        .container.border.flex.flex-col 
            .flex.justify-between.w-full.pl-5.pr-5
                .recipe-title  
                    = recipe[0]["nome_receita"]
                .recipe-title  
                    | Curtir
            .flex.justify-between.w-full.text-white  
                img.object-cover.w-full(src=`/img/${recipe[0]["nome_fotos_receita"]}` style="height:400px ")
            .flex.justify-between.w-full.border.mt-5
                .recipe-desc 
                    | Descrição
                .recipe-info.flex
                    .recipe-info-block  
                        = recipe[0]["qtd_porcoes_receita"]
                    .recipe-info-block
                        = recipe[0]["tempo_preparo_receita"]
                    .recipe-info-block  
                        case recipe[0]["dificuldade_receita"]
                            when 1
                                | Muito Fácil
                            when 2
                                | Fácil 
                            when 3
                                | Médio
                            when 4
                                | Difícil
                            when 5
                                | Muito Difícil

                        = recipe[0]["qtd_porcoes_receitas"]
            .flex.justify-between.w-full.bg-black.text-white.mt-3.h-48
                = recipe[0]["descricao_receita"]
                
            .flex.justify-between.w-full.border.mt-5
                .flex-row.flex
                    .recipe-ingredients     
                        | Ingredientes 
                    .recipe-steps 
                        | Etaps
            

    include includes/layout/footer.pug