include template.pug 
body  
    .bg-primary.flex.flex-wrap.justify-between.h-auto.w-full
            .div.flex.p-5.pl-20.ml-20(class="w-1/6")
                img.logo(src='images/logo.png')
            
            .div.flex.justify-items-center.self-center
                .bg-white.flex.rounded-full.searchbar(class="p-0.5")
                    input.rounded-l-full.p-2.input.input-search(type="text" name="search")
                    input.rounded-full.p-1.pl-5.pr-5.input-btn-search.text-white( type="button" value="Buscar")
            
            .container-sm.flex.btns-container(class="w-1/6")
                -if(!isLogged)
                    input.self-center.rounded-full.input-btn-login.place-end(class="left-1/2" type="button" value="Login" onclick="window.location = '/login';")
                    input.self-center.rounded-full.pl-5.pr-5.input-btn-registro(type="button" value="Registro" onclick="window.location = '/registro';")
                -else
                    button#dropdownDefault.dropdown.self-center.rounded-full.place-end.rounded-lg.text-center.inline-flex.items-center(data-dropdown-toggle='dropdown'  type='button')
                        p #{username}
                        svg.ml-2.w-4.h-4(aria-hidden='true' fill='none' stroke='currentColor' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7')
                    #dropdown.hidden.z-10.w-44.bg-white.rounded.divide-y.divide-gray-100.shadow(class='dark:bg-gray-700')
                                ul.py-1.text-sm.text-gray-700(class='dark:text-gray-200' aria-labelledby='dropdownDefault')
                                    li
                                        a.block.py-2.px-4(href='#' class='dark:hover:bg-gray-600 dark:hover:text-white') Meu Perfil
                                    li
                                        a.block.py-2.px-4(href='#' class='dark:hover:bg-gray-600 dark:hover:text-white') Adcionar Receita
                                    li
                                        a.block.py-2.px-4(href='/preferences' class='dark:hover:bg-gray-600 dark:hover:text-white') Configurações
                                    li
                                        a.block.py-2.px-4(href='/user/logout' class=' dark:hover:bg-gray-600 dark:hover:text-white') Logout
