head    
    include template.pug 
body   
        .flex.justify-evenly.container-header.bg-primary.h-auto
            .div.flex.p-1.pl-5
                img.logo(src='img/logo.png' style="cursor: pointer" onclick="window.location = '/';")
            .div.flex.justify-items-center.self-center.ml-5
                .bg-white.flex.rounded-full.searchbar(class="p-0.5")
                    input.rounded-l-full.p-2.input.input-search(type="text" name="search")
                    input.rounded-full.p-1.pl-5.pr-5.input-btn-search.text-white( type="button" value="Buscar")
            
            .container-sm.flex.btns-container.mb-5.mt-5.mr-5
                -if(!isLogged)
                    input.self-center.rounded-full.input-btn-login.place-end( type="button" value="Login" onclick="window.location = '/login';")
                    input.self-center.rounded-full.pl-5.input-btn-registro(type="button" value="Registro" onclick="window.location = '/registro';")
                -else
                    button#dropdownDefault.dropdown.self-center.rounded-full.place-end.rounded-lg.text-center.inline-flex.items-center.mr-2(data-dropdown-toggle='dropdown'  type='button')
                        p #{userName}
                        svg.ml-2.w-4.h-4(aria-hidden='true' fill='none' stroke='currentColor' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7')
                    #dropdown.hidden.z-10.w-44.bg-white.rounded.divide-y.divide-gray-100.shadow(class='dark:bg-gray-700')
                                ul.py-1.text-sm.text-gray-700(class='dark:text-gray-200' aria-labelledby='dropdownDefault')
                                    li
                                        a.block.py-2.px-4(href=`/profile-${userId}` class='hover:bg-gray-600 hover:text-white') Meu Perfil
                                    li
                                        a.block.py-2.px-4(href='/saved' class='hover:bg-gray-600 hover:text-white') Receitas Salvas
                                    li
                                        a.block.py-2.px-4(href='/recipe_add' class='hover:bg-gray-600 hover:text-white') Adcionar Receita
                                    li
                                        a.block.py-2.px-4(href='/preferences' class='hover:bg-gray-600 hover:text-white') Configurações
                                    li
                                        a.block.py-2.px-4(href='/user/logout' class=' hover:bg-gray-600 hover:text-white') Logout
