head 
      script(src="https://cdn.tailwindcss.com")
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito Sans")
      link(rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css")
      script(src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js")
      
      style 
            include ../../../public/css/template.css