head 
      script(src="https://cdn.tailwindcss.com")
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito Sans")
      link(rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css")
      script(src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js")
      script(src='https://kit.fontawesome.com/01686eca2b.js' crossorigin='anonymous')
      script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous") 
      script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
      
      style 
            include ../../../public/css/template.css